@import '~antd/dist/antd.css';
.form-wrapper {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.loginWrapper button {
	margin: 0 auto;
	display: block;
}

.header {
	background-color: #40a9ff;
}
